.social-list {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
}

.social-link-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  fill: var(--social-icons);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: fill 250ms var(--timing-function);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}
